In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)

#### Police Sentiment Data
Get average safety and trust scores for each district per month and year.

In [2]:
police_df_cleaned = pd.read_csv('/Users/Emi/Documents/GitHub/Crime-Analysis/police_df_cleaned.csv')
crime_df = pd.read_csv('Chicago_Crime_Data_Cleaned.csv')

In [3]:
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,Primary Type Grouping
0,5741943,HN549294,2007-08-25 09:22:18,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,2422,24.0,49.0,1.0,08A,NaN,NaN,2007,2015-08-17 15:03:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,All Other Crime Types
1,1930689,HH109118,2002-01-05 21:24:00,007XX E 103 ST,0820,THEFT,$500 AND UNDER,GAS STATION,True,False,512,5.0,NaN,NaN,06,NaN,NaN,2002,2016-02-04 06:33:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,All Other Crime Types
2,13203321,JG415333,2023-09-06 17:00:00,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,122,1.0,42.0,32.0,14,1174694.0,1901831.0,2023,2023-11-04 15:40:18,41.886018,-87.633938,"(41.886018055, -87.633937881)",22.0,14309.0,38.0,92.0,36.0,46.0,22.0,79.0,All Other Crime Types
3,13210088,JG423627,2023-08-31 12:00:00,023XX W JACKSON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,STREET,False,False,1225,12.0,27.0,28.0,11,1160870.0,1898642.0,2023,2023-09-16 15:41:56,41.877565,-87.684791,"(41.877565108, -87.68479102)",48.0,21184.0,29.0,766.0,46.0,28.0,15.0,139.0,All Other Crime Types
4,13210004,JG422532,2023-07-24 21:45:00,073XX S JEFFERY BLVD,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,False,333,3.0,7.0,43.0,02,1190812.0,1856743.0,2023,2023-09-16 15:41:56,41.761919,-87.576209,"(41.7619185, -87.576209245)",32.0,22538.0,39.0,419.0,37.0,24.0,18.0,89.0,All Other Crime Types

In [4]:
#Keeping only overall safety and trust scores to start, we can add more later if necessary
police_df_filtered = police_df_cleaned[['DISTRICT','SAFETY','TRUST','START_DATE','END_DATE']]

In [5]:
crime_df.District = crime_df.District.astype('str')
len(list(crime_df.District.unique()))

25

In [6]:
police_df_filtered.DISTRICT = police_df_filtered.DISTRICT.astype('str')
len(list(police_df_filtered.DISTRICT.unique()))

/var/folders/1s/stcy42l14bd01cnvp2y2xhzr0000gn/T/ipykernel_5935/3451442942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_df_filtered.DISTRICT = police_df_filtered.DISTRICT.astype('str')

22

In [7]:
police_df_filtered['START_DATE'] = pd.to_datetime(police_df_filtered['START_DATE'])
police_df_filtered['END_DATE'] = pd.to_datetime(police_df_filtered['END_DATE'])

/var/folders/1s/stcy42l14bd01cnvp2y2xhzr0000gn/T/ipykernel_5935/2084439707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_df_filtered['START_DATE'] = pd.to_datetime(police_df_filtered['START_DATE'])
/var/folders/1s/stcy42l14bd01cnvp2y2xhzr0000gn/T/ipykernel_5935/2084439707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_df_filtered['END_DATE'] = pd.to_datetime(police_df_filtered['END_DATE'])

In [8]:
(police_df_filtered['END_DATE'] - police_df_filtered['START_DATE']).dt.days.value_counts()
#These all seem to show a time period of one month, so we can just create columns for the Month and Year

30    3731
29    2184
27     455
28      91
dtype: int64

In [9]:
police_df_filtered['Year_Month'] = police_df_filtered['START_DATE'].dt.to_period('M')

/var/folders/1s/stcy42l14bd01cnvp2y2xhzr0000gn/T/ipykernel_5935/1937159896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_df_filtered['Year_Month'] = police_df_filtered['START_DATE'].dt.to_period('M')

In [10]:
police_df_filtered.drop(columns=['START_DATE','END_DATE'])

     DISTRICT  SAFETY  TRUST Year_Month
0        14.0   56.69  60.90    2021-04
1         5.0   35.51  47.52    2021-04
2        11.0   42.63  46.38    2021-04
3         9.0   46.02  63.57    2021-04
4        16.0   55.97  79.77    2021-04
...       ...     ...    ...        ...
6456     12.0   66.53  63.30    2023-09
6457      1.0   69.07  73.06    2023-09
6458     16.0   65.99  71.75    2023-09
6459     10.0   57.74  54.83    2023-09
6460     10.0   57.34  50.63    2023-09

[6461 rows x 4 columns]

In [11]:
police_df_filtered.head()

  DISTRICT  SAFETY  TRUST START_DATE   END_DATE Year_Month
0     14.0   56.69  60.90 2021-04-01 2021-04-30    2021-04
1      5.0   35.51  47.52 2021-04-01 2021-04-30    2021-04
2     11.0   42.63  46.38 2021-04-01 2021-04-30    2021-04
3      9.0   46.02  63.57 2021-04-01 2021-04-30    2021-04
4     16.0   55.97  79.77 2021-04-01 2021-04-30    2021-04

There are multiple safety and trust scores for each district since we removed sectors, so we can take the average scores for each district

In [12]:
mean_sentiment_scores = police_df_filtered.groupby(['DISTRICT','Year_Month'])['SAFETY','TRUST'].mean().round(2).reset_index()

/var/folders/1s/stcy42l14bd01cnvp2y2xhzr0000gn/T/ipykernel_5935/4264651156.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_sentiment_scores = police_df_filtered.groupby(['DISTRICT','Year_Month'])['SAFETY','TRUST'].mean().round(2).reset_index()

In [13]:
mean_sentiment_scores[mean_sentiment_scores.DISTRICT.eq('1.0')]

   DISTRICT Year_Month  SAFETY  TRUST
0       1.0    2017-11   62.55  64.38
1       1.0    2017-12   63.03  63.73
2       1.0    2018-01   68.74  65.46
3       1.0    2018-02   73.82  66.11
4       1.0    2018-03   71.74  67.13
5       1.0    2018-04   70.83  66.21
6       1.0    2018-05   72.20  63.36
7       1.0    2018-06   70.54  63.33
8       1.0    2018-07   69.68  67.48
9       1.0    2018-08   69.63  69.75
10      1.0    2018-09   66.36  68.60
11      1.0    2018-10   66.12  68.98
12      1.0    2018-11   64.16  70.43
13      1.0    2018-12   66.58  71.88
14      1.0    2019-01   68.92  75.68
15      1.0    2019-02   70.80  74.89
16      1.0    2019-03   69.42  74.78
17      1.0    2019-04   68.31  72.10
18      1.0    2019-05   72.57  74.14
19      1.0    2019-06   72.09  72.90
20      1.0    2019-07   72.90  73.19
21      1.0    2019-08   65.22  71.95
22      1.0    2019-09   61.84  67.84
23      1.0    2019-10   61.22  68.68
24      1.0    2019-11   59.20  70.64
25      1.0    2019-12   66.66  71.50
26      1.0    2020-01   57.40  68.49
27      1.0    2020-02   59.19  64.30
28      1.0    2020-03   59.90  68.90
29      1.0    2020-04   65.70  76.42
30      1.0    2020-05   62.32  75.64
31      1.0    2020-06   62.35  77.10
32      1.0    2020-07   58.30  78.64
33      1.0    2020-08   47.93  75.41
34      1.0    2020-09   52.45  70.06
35      1.0    2020-10   51.48  67.96
36      1.0    2020-11   53.32  71.35
37      1.0    2020-12   50.46  70.20
38      1.0    2021-01   48.99  70.00
39      1.0    2021-02   51.79  72.09
40      1.0    2021-03   52.24  72.31
41      1.0    2021-04   52.80  70.22
42      1.0    2021-05   56.12  68.78
43      1.0    2021-06   56.01  67.94
44      1.0    2021-07   53.28  64.46
45      1.0    2021-08   53.64  64.18
46      1.0    2021-09   51.30  65.50
47      1.0    2021-10   49.68  67.10
48      1.0    2021-11   55.00  66.12
49      1.0    2021-12   54.91  64.61
50      1.0    2022-01   56.24  61.97
51      1.0    2022-02   53.34  58.78
52      1.0    2022-03   55.68  58.27
53      1.0    2022-04   58.56  59.14
54      1.0    2022-05   56.05  57.11
55      1.0    2022-06   54.75  56.74
56      1.0    2022-07   50.96  55.97
57      1.0    2022-08   59.65  60.55
58      1.0    2022-09   57.80  64.36
59      1.0    2022-10   64.28  68.54
60      1.0    2022-11   64.47  66.77
61      1.0    2022-12   65.04  65.18
62      1.0    2023-01   65.27  67.60
63      1.0    2023-02   69.56  70.71
64      1.0    2023-03   70.00  72.84
65      1.0    2023-04   69.42  71.96
66      1.0    2023-05   69.01  70.63
67      1.0    2023-06   66.95  68.03
68      1.0    2023-07   68.21  66.48
69      1.0    2023-08   68.12  66.24
70      1.0    2023-09   67.47  64.45

In [14]:
mean_sentiment_scores.head()

  DISTRICT Year_Month  SAFETY  TRUST
0      1.0    2017-11   62.55  64.38
1      1.0    2017-12   63.03  63.73
2      1.0    2018-01   68.74  65.46
3      1.0    2018-02   73.82  66.11
4      1.0    2018-03   71.74  67.13

In [15]:
crime_df['Date'] = pd.to_datetime(crime_df['Date'])

In [16]:
crime_df['Year_Month'] = crime_df['Date'].dt.to_period('M')

In [17]:
mean_sentiment_scores.rename(columns={'SAFETY':'Police Safety Score',
                                      'TRUST':'Police Trust Score',
                                      'DISTRICT':'Police Districts'},inplace=True)

In [18]:
crime_df['Police Districts'] = crime_df['Police Districts'].astype('str')

In [19]:
crime_and_police = pd.merge(crime_df,mean_sentiment_scores,how='left',on=['Police Districts','Year_Month'])
crime_and_police.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,Primary Type Grouping,Year_Month,Police Safety Score,Police Trust Score
0,5741943,HN549294,2007-08-25 09:22:18,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,2422,24.0,49.0,1.0,08A,NaN,NaN,2007,2015-08-17 15:03:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,All Other Crime Types,2007-08,NaN,NaN
1,1930689,HH109118,2002-01-05 21:24:00,007XX E 103 ST,0820,THEFT,$500 AND UNDER,GAS STATION,True,False,512,5.0,NaN,NaN,06,NaN,NaN,2002,2016-02-04 06:33:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,All Other Crime Types,2002-01,NaN,NaN
2,13203321,JG415333,2023-09-06 17:00:00,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,122,1.0,42.0,32.0,14,1174694.0,1901831.0,2023,2023-11-04 15:40:18,41.886018,-87.633938,"(41.886018055, -87.633937881)",22.0,14309.0,38.0,92.0,36.0,46.0,22.0,79.0,All Other Crime Types,2023-09,62.32,63.51
3,13210088,JG423627,2023-08-31 12:00:00,023XX W JACKSON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,STREET,False,False,1225,12.0,27.0,28.0,11,1160870.0,1898642.0,2023,2023-09-16 15:41:56,41.877565,-87.684791,"(41.877565108, -87.68479102)",48.0,21184.0,29.0,766.0,46.0,28.0,15.0,139.0,All Other Crime Types,2023-08,54.24,54.21
4,13210004,JG422532,2023-07-24 21:45:00,073XX S JEFFERY BLVD,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,False,333,3.0,7.0,43.0,02,1190812.0,1856743.0,2023,2023-09-16 15:41:56,41.761919,-87.576209,"(41.7619185, -87.576209245)",32.0,22538.0,39.0,419.0,37.0,24.0,18.0,89.0,All Other Crime Types,2023-07,63.70,69.60

#### Grocery Store Data
This data apparently only applies to 2013 so I'm not sure if it will be useful for our overall model. If we wanted to do a snapshot analysis of 2013, we still have time series data that could be frequent enough for analysis. We can discuss this more.

In [20]:
grocery_stores = pd.read_csv('Grocery_Stores_-_2013_20231109.csv')
#Information about dataset here: https://github.com/Chicago/food-deserts

We could identify which areas are food deserts and create a 'Y'/'N' column for this using distance between the crime location and a grocery store. Food deserts are defined as areas in Chicago which are more than 0.5 or 1 mile from a grocery store, depending on the grocery store size. This is represented by the 'A' or 'B' buffer size. We could also represent this as the count of grocery stores within 0.5 or 1 mile.

We could also simply provide the count of grocery stores for each community area, but we would probably need to control for population size using census data that can give us population numbers by Community Area. I think we could try this first, see if any correlation exists, and if one does, we can investigate further and focus in on food deserts.

In [21]:
grocery_stores.columns.values

array(['STORE NAME', 'LICENSE ID', 'ACCOUNT NUMBER', 'SQUARE FEET',
       'BUFFER SIZE', 'ADDRESS', 'ZIP CODE', 'COMMUNITY AREA NAME',
       'COMMUNITY AREA', 'WARD', 'CENSUS TRACT', 'CENSUS BLOCK',
       'X COORDINATE', 'Y COORDINATE', 'LATITUDE', 'LONGITUDE',
       'LOCATION'], dtype=object)

In [22]:
len(grocery_stores['COMMUNITY AREA'].unique())

75

In [23]:
grocery_store_count = grocery_stores.groupby(['COMMUNITY AREA']).agg(Grocery_Store_Count=('STORE NAME','count')).reset_index()

In [24]:
merged_crime_df = pd.merge(crime_and_police, grocery_store_count, how='left',left_on='Community Area',right_on='COMMUNITY AREA')

In [25]:
merged_crime_df.drop(columns='COMMUNITY AREA',inplace=True)

In [26]:
merged_crime_df.rename(columns={'Grocery_Store_Count':'Grocery Stores per Community Area'},inplace=True)

#### Housing Data
This data is clean enough and we can provide the number of affordable housing units per community area, but since there is no time column, I'm unsure how we could use this to train our model. This data was updated in October 2023, but there is no easy way to tell when each apartment/unit was built, so these numbers would likely only be reliable for the past 5-10 years. 

The grocery store data presents the same problem. We may need to think about separate analyses for time series vs. regression since some of our independent variables are so time restricted.

In [27]:
housing_df = pd.read_csv('Affordable_Rental_Housing_Developments_20231109.csv')

In [28]:
housing_df.rename(columns={'Community Area Number':'Community Area'}, inplace=True)

In [29]:
housing_df.head()

,Community Area Name,Community Area,Property Type,Property Name,Address,Zip Code,Phone Number,Management Company,Units,X Coordinate,Y Coordinate,Latitude,Longitude,Location
0,Near West Side,28,ARO,The Dylan,160 N. Morgan St.,60607,872.328.0028,Sterling Bay,28,1169706.814,1901381.768,41.884895,-87.652265,"(41.884895408116236, -87.65226488412628)"
1,Hegewisch,55,Senior,Senior Suites of Hegewisch,13550 S. Avenue O,60633,773-646-1333,Senior Lifestyle Corp.,116,1201038.059,1815487.733,41.648457,-87.540123,"(41.648457411436, -87.5401231660406)"
2,Uptown,3,Senior,Wilson Yard Senior Apts.,1032 W. Montrose Ave,60613,866-227-0438,Holsten Real Estate Dev. Corp.,13,1168438.959,1929421.650,41.961866,-87.656107,"(41.9618658532981, -87.656107428372)"
3,Lake View,6,ARO,The Mode,3462 N. Lincoln Ave.,60657,773-205-8300,606 Realty,2,1164033.827,1923207.502,41.944908,-87.672479,"(41.9449083304908, -87.6724793376448)"
4,North Lawndale,29,Multifamily,Lawndale Restoration II Apts. (scattered sites),10 N. Hamlin Ave.,60613,312-337-5339,Holsten Management Corp.,170,1151024.342,1899855.056,41.881092,-87.720910,"(41.8810923305496, -87.7209100899284)"

In [30]:
affordable_housing_units = housing_df.groupby('Community Area')['Units'].sum().reset_index()

In [31]:
affordable_housing_units.rename(columns={'Units':'Affordable Housing Units per Community Area',
                                        'Police Safety Score':'Police Safety Score per Community Area',
                                        'Police Trust Score': 'Police Trust Score per Community Area'}
                                        ,inplace=True)

In [32]:
merged_crime_df = pd.merge(merged_crime_df,affordable_housing_units, how='left',on='Community Area')

In [33]:
merged_crime_df.head(0)

Empty DataFrame
Columns: [ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location, Historical Wards 2003-2015, Zip Codes, Community Areas, Census Tracts, Wards, Boundaries - ZIP Codes, Police Districts, Police Beats, Primary Type Grouping, Year_Month, Police Safety Score, Police Trust Score, Grocery Stores per Community Area, Affordable Housing Units per Community Area]
Index: []

#### Census Data

In [34]:
census_df = pd.read_csv('Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012_20231109.csv')

In [35]:
census_df.shape

(78, 9)

In [36]:
len(census_df['Community Area Number'].unique())

78

In [37]:
census_df.drop(columns='COMMUNITY AREA NAME',inplace=True)

In [38]:
census_df.columns = census_df.columns.str.lower() + " per Community Area"
census_df.columns  = census_df.columns.str.title()
census_df.rename(columns={'Community Area Number Per Community Area': 'Community Area'},inplace=True)

In [39]:
merged_crime_df = pd.merge(merged_crime_df, census_df, how='left', on='Community Area')

In [40]:
#merged_crime_df.to_csv('merged_crime_df.csv',index=False)