In [ ]:
#Imports

import mysql.connector
import csv 
import pandas as pd
import numpy as np

In [ ]:
file_path = '/Users/ericchestnut/Documents/Data Science Class /Project/Cleaned Data/Chicago_Crime_Main.csv'

df = pd.read_csv(file_path)

In [ ]:
num_rows = df.shape[0]
print(f"The number of rows in the DataFrame is: {num_rows}")

In [ ]:
# Database connection stuff
username = 'crimeadmin'  
password = '4DAnuuSBWVQ92w!F'  
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'  
database = 'crimedb_mysql'  
port = '3306'  # default MySQL port

from sqlalchemy import create_engine

# Create the SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Define the name of the SQL table you want to insert data into
table_name = 'Chicago_Crime_Main' 

#Code to write entire file. Wasn't uploading as intended. Tried to complete in chunks instead because possible entire csv was too large
"""
# Write records stored in a DataFrame to a SQL database
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
"""


#Uploading in chunks

chunk_size = 400  
for start in range(0, len(df), chunk_size):
    end = start + chunk_size
    df.iloc[start:end].to_sql(name=table_name, con=engine, if_exists='append', index=False)
    print(f"Wrote chunk {start} to {end}")  


#Used thie code if connection interreputed. Set last_successful_row to the last one written to avoid having to start all over

"""
# Define the point where the connection was lost
last_successful_row = 674100  # adjust this to the last row you know was written successfully



# Calculate the starting point for the loop
start_point = last_successful_row - (last_successful_row % chunk_size)

# Uploading in chunks, starting from the point where it stopped
chunk_size = 400  
for start in range(start_point, len(df), chunk_size):
    end = start + chunk_size
    df.iloc[start:end].to_sql(name=table_name, con=engine, if_exists='append', index=False)
    print(f"Wrote chunk {start} to {end}")
"""

In [ ]:
#Checking if same number of rows in database that are in original csv

# Database connection details
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the connection engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query to count rows in the 'Chicago_Crime_Main' table
query = 'SELECT COUNT(*) as row_count FROM Chicago_Crime_Main'

# Execute the query and read into a DataFrame
row_count_df = pd.read_sql(query, engine)

# Display the row count
row_count = row_count_df['row_count'].iloc[0]
print(f"Number of rows in Chicago_Crime_Main: {row_count}")

# Close the connection
engine.dispose()

In [ ]:
#Testing connection to database


#Converted jupyter notebook into a python script 
#Relative path. Will need to change if in different directory from database connection file
try:  
    from AWS_MySQL.py import connect_to_database, close_connection, delete_table, create_table_if_not_exists, main, count_csv_rows, count_rows_in_table
#Adding exception for filenotfound since we all have been using different path names
except FileNotFoundError:
    pass