In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import geopandas as gpd
from shapely import wkt
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)

In [2]:
#Loading datasets
df_geo = pd.read_csv('CommAreas.csv')

#Find a way to join these? Below have community areas joined onto bus_stops. bus_df has ridership numbers
bus_df = pd.read_csv('CTA_-_Ridership_-_Bus_Routes_-_Monthly_Day-Type_Averages___Totals.csv') 
bus_stops_df = pd.read_csv('CTA_BusStops.csv') 

#Emily's cleaned train data
l_station_cleaned = pd.read_csv('L_Station_Cleaned.csv')

In [ ]:
#Community areas dataset uses multipolygon geometry coordinates 


#DATASETS THAT DONT HAVE COMMUNITY AREAS AND NEED FOR ANALYSIS:
"""
police sentiment - districts and sectors # Will need to figure out coordinate data for sectors/districts to do 


train ridership - station_ids and names
bus_df - route names (stations) - find lats and lons for stations and then convert

train_stops - lat and lon, stop and station names
bus_stops - streets, point geometry coordinates

"""

In [ ]:
#STEPS TO DO TO CONVERT LOCATIONS:
"""
Convert dataframes into geodataframes.

lat and lon need to be converted into spatial formats (multipolyhon and point geometries already spatial formats)
    (I also ended up converting point and multipolygon anyway because it didn't work if I didn't. Maybe wasn't originally a float or 
    something. I don't really know.) 
    
Perform a spatial join, will put point geometries within the multipolygon geometries of community areas


"""

## Converting dataframes into geoframes and converting to spatial formats

In [3]:
#Community areas dataframe


# Convert the community areas muiltypolygon coordinates column to geometries
df_geo['geometry'] = df_geo['the_geom'].apply(wkt.loads)
df_geo = gpd.GeoDataFrame(df_geo, geometry='geometry')

# Drop the 'the_geom' column. No longer needed.
#Also drop other columns not being used
df_geo = df_geo.drop(columns=['the_geom','PERIMETER', 'AREA','COMAREA_','COMAREA_ID','AREA_NUMBE'])

In [4]:
#Train stops dataframe


# Convert lat/long to Point geometry
#Will add POINT coordinates as a column in df
l_station_cleaned['geometry'] = l_station_cleaned.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
points_geo_df = gpd.GeoDataFrame(l_station_cleaned, geometry='geometry')

In [5]:
#Bus stops dataframe 

# Convert the 'the_geom' column to Point geometries
bus_stops_df['geometry'] = bus_stops_df['the_geom'].apply(wkt.loads)

# Convert the DataFrame to a GeoDataFrame
bus_stops_df = gpd.GeoDataFrame(bus_stops_df, geometry='geometry')
#Drop previous column
bus_stops_df = bus_stops_df.drop(columns=['the_geom'])

## Performing the spatial joins

In [6]:
train_stops_converted = gpd.sjoin(points_geo_df, df_geo, how="inner", op="within")

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [7]:
bus_stops_converted = gpd.sjoin(bus_stops_df, df_geo, how="inner", op="within")

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

## Cleaning and organizing new data

In [8]:
#Trains data

#Remove irrelevant columns
train_stops_converted = train_stops_converted.drop(columns=['Month', 'Longitude', 'Latitude','index_right'])
#Rename columns 
train_stops_converted.rename(columns={'Month_Beginning': 'Month', 'geometry': 'Lat_Lon', 'AREA_NUM_1':'Comm_Num', 'COMMUNITY':'Community'}, inplace=True)

In [9]:
train_stops_converted.head(5)

,Year,Month,Station_ID,Station_Name,Avg_Weekday_Rides,Avg_Saturday_Rides,Avg_Sunday/Holiday_Rides,Monthly_Total,Lat_Lon,Community,Comm_Num,SHAPE_AREA,SHAPE_LEN
0,2001,2001-01-01,40450,95th/Dan Ryan,14162.6,7472.8,4914.4,366040,POINT (-87.62434 41.72238),ROSELAND,49,1.343137e+08,56632.795429
1,2001,2001-02-01,40450,95th/Dan Ryan,14445.6,7166.5,5282.8,338708,POINT (-87.62434 41.72238),ROSELAND,49,1.343137e+08,56632.795429
2,2001,2001-03-01,40450,95th/Dan Ryan,14521.9,7686.8,5239.8,378875,POINT (-87.62434 41.72238),ROSELAND,49,1.343137e+08,56632.795429
3,2001,2001-04-01,40450,95th/Dan Ryan,14106.8,7716.5,5349.4,353856,POINT (-87.62434 41.72238),ROSELAND,49,1.343137e+08,56632.795429
4,2001,2001-05-01,40450,95th/Dan Ryan,14591.5,7482.8,5357.8,377733,POINT (-87.62434 41.72238),ROSELAND,49,1.343137e+08,56632.795429

In [10]:
#Bus Data

#Remove irrelevant columns
bus_stops_converted = bus_stops_converted.drop(columns=['CITY', 'index_right'])
#Rename columns 
bus_stops_converted.rename(columns={'geometry': 'Lat_Lon', 'AREA_NUM_1':'Comm_Num', 'COMMUNITY':'Community'}, inplace=True)

In [11]:
bus_stops_converted.head(5)

,SYSTEMSTOP,STREET,CROSS_ST,DIR,POS,ROUTESSTPG,OWLROUTES,PUBLIC_NAM,Lat_Lon,Community,Comm_Num,SHAPE_AREA,SHAPE_LEN
0,15189,CICERO,BERTEAU (north leg),SB,FS,"54,54A",NaN,Cicero & Berteau,POINT (-87.74751 41.95689),PORTAGE PARK,15,1.101961e+08,46520.642138
32,11619,CENTRAL,BYRON,NB,NS,85,NaN,Central & Byron,POINT (-87.76686 41.95124),PORTAGE PARK,15,1.101961e+08,46520.642138
38,17175,MILWAUKEE,LAWRENCE,SEB,FS,56,NaN,Milwaukee & Lawrence,POINT (-87.76069 41.96772),PORTAGE PARK,15,1.101961e+08,46520.642138
173,11526,CENTRAL,CULLOM,SB,NS,85,NaN,Central & Cullom,POINT (-87.76725 41.95873),PORTAGE PARK,15,1.101961e+08,46520.642138
213,11618,CENTRAL,GRACE,NB,NS,85,NaN,Central & Grace,POINT (-87.76680 41.94944),PORTAGE PARK,15,1.101961e+08,46520.642138

# #TODO 
## - Join bus ridership data onto bus stops above (bus_df)
        - Currently trying to figure out commonality between these sets to join them
## - Upload these new datasets to database 
### - Maybe do some more cleaning (brain started to try at the end of this)

In [19]:
bus_df.head(100)

,route,routename,Month_Beginning,Avg_Weekday_Rides,Avg_Saturday_Rides,Avg_Sunday-Holiday_Rides,MonthTotal
0,1,Indiana/Hyde Park,01/01/2001,6982.6,0.0,0.0,153617
1,2,Hyde Park Express,01/01/2001,1000.0,0.0,0.0,22001
2,3,King Drive,01/01/2001,21406.5,13210.7,8725.3,567413
3,4,Cottage Grove,01/01/2001,22432.2,17994.0,10662.2,618796
4,6,Jackson Park Express,01/01/2001,18443.0,13088.2,7165.6,493926
5,7,Harrison,01/01/2001,5504.4,0.0,0.0,121097
6,8,Halsted,01/01/2001,19582.2,12420.0,8280.8,521892
7,8A,South Halsted,01/01/2001,3196.5,3006.6,1336.2,89030
8,9,Ashland,01/01/2001,29265.4,22621.7,15336.1,811006
9,10,Museum of S & I,01/01/2001,0.0,562.6,372.9,4115
10,11,Lincoln/Sedgwick,01/01/2001,3448.7,1667.3,869.5,86887
11,12,Roosevelt,01/01/2001,10763.5,6950.6,4691.0,288055
12,14,Jeffery Express,01/01/2001,8484.3,0.0,0.0,186655
13,17,Westchester,01/01/2001,514.5,0.0,0.0,11319
14,18,16th/18th,01/01/2001,1923.8,898.5,642.3,49130
15,19,United Center Express,01/01/2001,322.0,327.1,368.4,6273
16,20,Madison,01/01/2001,21570.3,12804.3,8184.0,566683
17,21,Cermak,01/01/2001,7423.7,7747.2,4781.0,218216
18,X21,Cermak Express,01/01/2001,0.0,1177.9,855.9,8991
19,22,Clark,01/01/2001,21206.2,14634.5,10462.2,577386
20,24,Wentworth,01/01/2001,3893.4,0.0,0.0,85655
21,25,West Cermak,01/01/2001,144.8,0.0,0.0,3186
22,27,South Deering,01/01/2001,5629.5,2984.1,2423.6,147904
23,28,Stony Island,01/01/2001,11964.9,11269.6,5587.8,336246
24,29,State,01/01/2001,16328.2,12511.5,8537.9,451955
25,30,South Chicago,01/01/2001,3823.5,1960.2,652.2,95218
26,33,Mag Mile Express,01/01/2001,770.2,0.0,0.0,16944
27,34,South Michigan,01/01/2001,7911.6,5744.2,3580.5,214933
28,35,35th,01/01/2001,5977.7,3342.5,1810.1,153931
29,36,Broadway,01/01/2001,15360.0,13898.6,8687.4,436950
30,37,Sedgwick,01/01/2001,2500.6,0.0,0.0,55014
31,39,Pershing,01/01/2001,2249.6,0.0,0.0,49492
32,43,43rd,01/01/2001,1351.0,679.3,354.8,34213
33,44,Wallace-Racine,01/01/2001,6559.2,2696.0,1564.6,162910
34,47,47th,01/01/2001,8069.8,6422.7,3490.7,220680
35,48,South Damen,01/01/2001,1120.6,0.0,0.0,24654
36,49,Western,01/01/2001,23732.1,20598.9,12432.2,666662
37,49A,South Western,01/01/2001,333.3,0.0,0.0,7332
38,49B,North Western,01/01/2001,5087.6,3065.0,1954.1,133958
39,X49,Western Express,01/01/2001,5131.8,0.0,0.0,112899
40,50,Damen,01/01/2001,8322.7,4419.7,2470.1,213128
41,51,51st,01/01/2001,4654.8,3675.0,2169.4,127952
42,52,Kedzie/California,01/01/2001,11592.4,8223.9,5112.6,313490
43,52A,South Kedzie,01/01/2001,5919.1,3596.1,1925.5,154232
44,53,Pulaski,01/01/2001,21726.0,15984.4,9466.2,589242
45,53A,South Pulaski,01/01/2001,9037.4,3198.0,1417.1,218700
46,54,Cicero,01/01/2001,12138.9,9536.3,5940.5,334903
47,54A,North Cicero/Skokie Blvd.,01/01/2001,1281.3,0.0,0.0,28188
48,54B,South Cicero,01/01/2001,4775.5,4468.6,2377.5,134823
49,55,Garfield,01/01/2001,12778.5,9126.4,6495.9,350112
50,55N,55th/Narragansett,01/01/2001,1071.8,164.4,0.0,24237
51,56,Milwaukee,01/01/2001,14274.6,9160.4,6174.4,381555
52,56A,North Milwaukee,01/01/2001,568.5,0.0,0.0,11938
53,57,Laramie,01/01/2001,3042.6,1412.8,616.1,75668
54,59,59th/61st,01/01/2001,4260.5,2222.6,0.0,102622
55,60,Blue Island/26th,01/01/2001,13431.4,9929.4,6310.6,366761
56,62,Archer,01/01/2001,14926.0,6856.3,4667.4,379135
57,62H,Archer/Harlem,01/01/2001,1392.2,640.0,0.0,33189
58,63,63rd,01/01/2001,21814.1,17120.8,11466.5,605727
59,63W,West 63rd,01/01/2001,2196.4,720.5,378.2,53094
60,64,Foster-Canfield,01/01/2001,337.2,0.0,0.0,7419
61,65,Grand,01/01/2001,6695.3,3173.9,1805.7,169020
62,66,Chicago,01/01/2001,21001.5,13332.8,8478.8,557759
63,67,67th-69th-71st,01/01/2001,14219.5,9844.6,7025.6,387336
64,68,Northwest Highway,01/01/2001,1579.5,608.1,286.5,38614
65,69,Cumberland/East River,01/01/2001,417.2,0.0,0.0,8761
66,70,Division,01/01/2001,11102.5,7625.8,5264.0,301077
67,71,71st/South Shore,01/01/2001,7136.7,5565.3,3119.0,194863
68,72,North,01/01/2001,15417.4,11359.3,6853.7,418889
69,73,Armitage,01/01/2001,4994.3,2688.6,1372.4,127491
70,74,Fullerton,01/01/2001,12842.3,9858.6,5968.0,351804
71,75,74th-75th,01/01/2001,7081.7,4725.3,2795.5,188676
72,76,Diversey,01/01/2001,13254.3,8168.3,4827.2,348404
73,77,Belmont,01/01/2001,19856.3,12733.9,8400.0,529774
74,78,Montrose,01/01/2001,8891.8,5826.3,3274.2,235297
75,79,79th,01/01/2001,30018.4,23808.6,15573.7,833507
76,80,Irving Park,01/01/2001,11837.8,8077.1,5275.2,319117
77,81,Lawrence,01/01/2001,14489.3,11561.8,7558.0,402803
78,81W,West Lawrence,01/01/2001,1577.3,837.2,337.6,39738
79,82,Kimball-Homan,01/01/2001,19622.7,11451.6,6745.8,511235
80,84,Peterson,01/01/2001,4357.5,2418.1,1145.6,111265
81,85,Central,01/01/2001,13188.5,8148.9,4850.7,346996
82,85A,North Central,01/01/2001,952.5,148.7,0.0,21550
83,86,Narragansett/Ridgeland,01/01/2001,1831.2,0.0,0.0,40287
84,87,87th,01/01/2001,15732.2,10389.7,5571.5,415524
85,88,Higgins,01/01/2001,1721.8,650.3,523.9,43101
86,90,Harlem,01/01/2001,3880.4,3002.1,1382.3,104289
87,90N,North Harlem,01/01/2001,318.9,98.7,0.0,7412
88,91,Austin,01/01/2001,8583.5,4415.0,2384.8,218421
89,92,Foster,01/01/2001,7414.5,4123.2,2316.9,191196
90,93,California/Dodge,01/01/2001,2228.0,1057.5,0.0,53246
91,94,South California,01/01/2001,10603.7,4792.6,3467.0,269786
92,95E,93rd-95th,01/01/2001,5787.1,4530.5,3014.3,160511
93,95W,West 95th,01/01/2001,5162.6,4526.5,2556.7,144468
94,96,Lunt,01/01/2001,1343.2,0.0,0.0,29550
95,97,Skokie,01/01/2001,3681.4,2066.7,1167.5,95096
96,100,Jeffery Manor Express,01/01/2001,1167.0,0.0,0.0,25673
97,103,West 103rd,01/01/2001,3704.9,1564.8,1071.0,93121
98,106,East 103rd,01/01/2001,2317.8,570.3,398.4,55265
99,108,Halsted/95th,01/01/2001,2928.1,0.0,0.0,64417

In [21]:
# Check if a station exists in the 'routename' column
exists = bus_df['routename'].isin(['Central']).any()

# Print the result
print("Does route exist in the 'routename' column:", exists)

Does route exist in the 'routename' column: True

In [22]:
# Check if a station exists in the 'routename' column
exists = bus_stops_converted['PUBLIC_NAM'].isin(['Lincoln & Sedgwick']).any()

# Print the result
print("Does route exist in the 'PUBLIC_NAM' column:", exists)

Does route exist in the 'PUBLIC_NAM' column: False

In [18]:
#Looks like these two datasets don't have common routes. 




# Counting unique routes in 'ROUTESSTPG' column of bus_stops_converted DataFrame
unique_routes_bus_stops = bus_stops_converted['ROUTESSTPG'].nunique()

# Counting unique routes in 'route' column of bus_df DataFrame
unique_routes_bus = bus_df['route'].nunique()

# Print the results
print("Number of unique routes in 'ROUTESSTPG' column of bus_stops_converted:", unique_routes_bus_stops)
print("Number of unique routes in 'route' column of bus_df:", unique_routes_bus)

Number of unique routes in 'ROUTESSTPG' column of bus_stops_converted: 516
Number of unique routes in 'route' column of bus_df: 184